---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Sébastien Dru — Développeur Web Freelance"
					tagline="Développeur Angular & Node.js, disponible pour vos projets"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Angular</Pill>
						<Pill><Icon icon="terminal-window" size="1.33em" /> Node.js</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> WordPress</Pill>
					</div>
				</Hero>

				<img
					alt="Sébastien Dru, Développeur Web Freelance"
					width="2323"
					height="2322"
					src="/assets/portrait.jpg"
				/>
			</header>

			<Skills />
		</div>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}
</style>
