---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Back-end</h2>
		<p>Curieux de tout, je me suis spécialisé sur le framework Symfony.
		Je m'interresse également à la partie SysAdmin afin de pouvoir
		suivre un projet jusqu'à sa mise en production</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur d'application</h2>
		<p> • Bac +2 en Information et Réseau en Industrie et Service Technique (formation initiale),<br>
		 • Autodidacte pendant plus d'un an,<br>
		 • Bac +4 en développeur d'application Php/Symfony (RNCP)</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Travail en équipe</h2>
		<p>Je suis très attaché à la communication au sein d'une entreprise, la circulation de l'information dans une équipe est un élément essentiel pour atteindre l'objectif.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
