---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur Back-end mais pas que...</h2>
		<p>Après deux années d'apprentissage transversal en autodidacte, je me suis spécialisé sur le framework Symfony.<br>
		Curieux de tout, je m'intéresse également à la partie SysAdmin afin de pouvoir
		suivre un projet jusqu'à sa mise en production.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Communiquant et autonome !</h2>
		<p>Mes expériences professionnelles m'ont appris l'importance de la
		collaboration au sein d'une équipe. D'autre part, ma période autodidacte m'a permis d'acquérir
			une autonomie dans mon apprentissage global des technologies du web.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Une passion de longue date</h2>
		<p>J'ai acquis en 2004 un BTS en Informatique et Réseau en Industrie et Service Technique (C++)
			et obtenu un diplôme de développeur d'application PHP/Symfony en 2023.
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
